
.imgBtn {
width: 160px;
height: 120px;

}
body {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    height: 100vh;
    background-color: #3f454d;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items:center;
}

.btn:hover,
.logo:hover {
    transform:scale(1.1);
}

.btn {
    background-color: transparent;
    border:none;
    outline:none;
    cursor:pointer;
    margin-right: 5px;
    transition:transform 300ms ease;
}

.buttons {
    display: flex;
    align-items: center;

}

.items {
    width:60%;
    height: 60%;
    list-style:none;
    padding-left: 0;
    overflow-y:scroll;

}
.item {
    background-color: white;
    display:flex;
    align-items:center;
    padding: 10px;
    margin-bottom: 10px;
}

.item__thumbnail {
    width:100px;
    height: 80px;
}

.item__description {
    margin-left: 30px;
    font-size: 18px;
}

